@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src:url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}

* {
  font-family: 'Avenir Next', 'Open Sans', sans-serif;
}

.text {
  font-size: 20px;
}

.title {
  font-size: 34px;
  font-weight: 600;
  margin: 20px 0;
}

.video {
  width: 100%;
  margin: 0;
  height: 100vh;
  object-fit: cover;
}

.purpose {
  position: absolute;
  padding: 20px 30px;
  color: white;
  font-size: 45px;
  top: 43%;
  right: 0;
  text-align: center;
  width: 100%;
}

.button {
  background: transparent;
  border: solid 1.5px white;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  padding: 10px 15px;
  outline: none;
  text-decoration: none;
  width: 150px;
}

.space {
  height: 20px;
}

.textContent {
  margin: 60px;
}

.title {
  font-size: 40px;
  text-align: center;
}

.smallTitle {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0;
}

.topic {
  font-family: 'Avenir Next', 'Open Sans Light', sans-serif;
  font-size: 25px;
  font-weight: 200;
  margin: 10px 0;
}

tspan {
  font-size: 12px;
}

.refList {
  width: 100%;
  text-align: center;
}

.headline {
  font-family: 'Avenir Next', 'Open Sans Light', sans-serif;
  font-weight: 100;
}

.timeVsViewsImg {
  display: block;
  margin: auto;
  max-width: 90%;
  height: auto;
}

.timeVsPopularityImg {
  display: block;
  margin: auto;
  max-width: 90%;
  height: auto;
}

.logo {
  max-width: 20%;
  height: auto;
  margin: 0 50px;
}

.logoList {
  display: inline-block;
}

@media(max-width: 1100px) {
  .logoList {
    width: 100%;
    height: auto;
  }
}

.a, .a:visited {
  color: rgb(230, 43, 30);
  text-decoration: none;
}
